* {
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.wraper {
  width: 100%;
}

.container {
  max-width: 1194px;
  width: 100%;
  margin: 0 auto;
}
.myHeader{
  width: 100%;
  position: fixed;
  top:0;
  z-index: 100;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background: #FFFFFF;
}

.header-logo img {
  text-align: center;
}

.menu-item {
  list-style: none;
}
.menu-item:nth-last-child(1){
  margin-left: 15px;
}

.menu-item a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #E1E1E1;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu-item span {
  margin-left: 22px;
  padding: 3px 8px;
  background: #333333;
  border-radius: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}



.slide {
  background: #E1E1E1;
}


.swiper-wrapper {
  margin: 396px 123px;
}


h2 {
  width: 379px;
  height: 59px;
  left: 467px;
  top: 396px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700px;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

p {
  margin-top: 16px;
  width: 581px;
  height: 108px;
  left: 670px;
  top: 3053px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #404040;
}


.swiper-button-prev::after {
  color: #000000;
  width: 100%;
}

.swiper-button-next::after {
  color: #000000;
  width: 100%;
}

.swiper-pagination {
  margin-bottom: 22px;
  text-align: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #000000;
}


.feature-products {
  text-align: center;
  margin-top: 86px;
}

.products {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.products-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 274px 274px;
  gap: 32px;
}

.product-item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.product-item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.product-item:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1/2;
}

.product-item:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/3;
}


.products-list>div {
  background: #E1E1E1;
  border-radius: 12px;
}

.our-products {
  display: flex;
  text-align: center;
  margin-top: 150px;
}

.product-menu {
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 128px;
  background: #E1E1E1;
  border-radius: 10px;
}

.product-menu-list {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 128px;
  border-radius: 10px;
  list-style: none;
}



.product-menu-item b {
  color: #000000;
}

.product-menu-item a {
  padding: 19px 10px;
  font-family: 'Montserrat';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #656565;
}

.product-menu-item a:hover {
  color: black;
  border-bottom: 4px solid black;
}


.product-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 311px 311px;
  grid-gap: 33px 33px;
}

.cart-product-image {
  width: 100%;
  height: 247px;
  background: #E1E1E1;
  border-radius: 10px;
}

.cart-product {
  margin-top: 16px;
}

.cart-product-name {
  width: 295px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #404040;
}

.cart-product-price {
  width: 67px;
  height: 16px;
  margin-top: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #404040;
}


.about-us {
  height: 900px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  background-color: #E1E1E1;
}

.about-us-title {
  width: 152px;
  height: 39px;
  left: 883px;
  top: 2982px;
  margin-top: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.about-us-text {
  width: 581px;
  height: 108px;
  left: 670px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #404040;
}

.read-more {
  padding: 16px;
  width: 172px;
  border-radius: 10px;
  font: 15px 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #F2F2F2;
  background-color: #333333;
  text-decoration: none;
}

.footer {
  height: 530px;
  text-align: center;
  /* margin-top: 0px 64px; */
  background-color: #404040;
}

.footer-sign-up {
  height: 126px;
}


.title {
  margin-bottom: 20px;
  font: 16px 'Poppins', sans-serif;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.form {
  display: flex;
  max-width: 616px;
  margin: -5px auto 0;
  background-color: white;
  border-radius: 99px;
  overflow: hidden;
}
.form input::placeholder{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color:rgba(154, 154, 154, 1);
}


.text {
  height: 48px;
  width: 615px;
  padding-left: 20px;
  left: 652px;
  top: 104px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  border-radius: 40px;
  color: #9A9A9A;
  background-color: #FFFFFF;
  outline: none #FFFFFF;
  border: solid #FFFFFF;
}

.sign-up {
  width: 100px;
  height: 40px;
  margin-left: -106px;
  border-radius: 24px;
  margin-top: 3px;
  border: 2px solid #FFFFFF;
  font: 15px 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  background-color: #FFFFFF;
}
.sign-up:hover{
  background-color:#606060 ;
  color: white;
}
hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #606060;
}

.footer-gluxury {
  margin-top: 63px;
  margin-bottom: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.footer-gluxury-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.footer-gluxury-middle {
  display: flex;
  flex-direction: row;
  gap: 171px;
}

.middle-list {
  margin-right: 20px;
  margin-bottom: 29px;
  list-style: none;
  color: #FFFFFF;
}


.middle-list-site {
  padding-bottom: 10px;
  margin-top: 8px;
  color: #9D9D9D;
}

.footer-gluxury-circle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}

.circle {
  width: 32px;
  height: 32px;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
}

.footer-info {
  padding-top: 20px;
  color: #FFFFFF;
  font: 13px 'Montserrat', sans-serif;
  font-style: normal;
}