* {
  margin: 0;
  box-sizing: border-box;
}

.wraper {
  max-width: 1920px;
  width: 100%;
}

.container {
  max-width: 1194px;
  width: 100%;
  margin: 0 auto;
}

.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
}

.header-logo img {
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-family: 'Roboto';
}

.menu-item {
  list-style: none;
}

.menu-item a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #E1E1E1;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.menu-item span {
  margin-left: 14px;
  padding: 3px 8px;
  left: 79.9%;
  right: 18.85%;
  top: 35%;
  bottom: 35.37%;
  background: #333333;
  border-radius: 12px;
  left: 80.31%;
  right: 19.22%;
  top: 38.7%;
  bottom: 40.31%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media screen and (max-width: 768px) {
  .toggle {
    display: block;
  }

  .toggle.active.bar:nth-child(2) {
    opacity: 0;
  }

  .toggle.active.bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .toggle.active.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-list {
    position: absolute;
    right: 100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    background-color: #A9A9A9;
  }

  .menu-item {
    margin: 15px 0;
  }

  .menu-list.active {
    left: 0;
  }
}

.slide {
  height: 674px;
  left: 0px;
  background: #E1E1E1;
}


.swiper-wrapper {
  margin: 369px 124px;
}


h2 {
  width: 379px;
  height: 59px;
  left: 467px;
  top: 396px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700px;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

p {
  width: 487px;
  height: 76px;
  left: 466px;
  top: 471px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #404040;
}

.swiper-pagination {
  margin-bottom: 95px;
}

@media screen and (max-width: 768px) {
  .slide {
    height: 340px;
    left: 0px;
    background: #E1E1E1;
  }

  .swiper-wrapper {
    margin: 20px 64px;
    margin-top: 70px;
  }

  h2 {
    font-family: 'Montserrat';
    font-style: normal;

    font-size: 28px;
    line-height: 59px;
    color: #000000;
  }

  p {
    width: 70%;
    height: 70%;
    left: 166px;
    top: 471px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #404040;
  }
}

.feature-products {
  text-align: center;
  margin-top: 150px;
}

.products {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #000000;
}

.products-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 274px 274px;
  gap: 32px;
}

.product-item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.product-item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.product-item:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1/2;
}

.product-item:nth-child(4) {
  grid-column: 3/5;
  grid-row: 2/3;
}


.products-list>div {
  background: #E1E1E1;
  border-radius: 12px;
}

@media only screen and (max-width: 768px) {
  .feature-products {
    height: 1000px;
    margin-top: 80px;
  }

  .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 32px;
  }

  .product-item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .product-item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .product-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .product-item:nth-child(4) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}

.out-products {
  display: flex;
  text-align: center;
  margin-top: 130px;
}

.product-menu {
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 128px;
  background: #E1E1E1;
  border-radius: 10px;
}

.product-menu-list {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  list-style: none;
}

.product-menu-item b {
  color: #000000;
}

.product-menu-item a {
  padding: 19px 10px;
  font-family: 'Montserrat';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #656565;
}

.product-menu-item a:hover {
  color: black;
  border-bottom: 4px solid black;
}

.product-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 311px 311px;
  grid-gap: 33px 33px;
}

.cart-product-image {
  width: 100%;
  height: 247px;
  background: #E1E1E1;
  border-radius: 10px;
}

.cart-product {
  margin-top: 16px;
}

.cart-product-name {
  width: 245px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #404040;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.cart-product-price {
  width: 49px;
  height: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #404040;
}

@media only screen and (max-width: 768px) {
  .out-products {
    margin-top: 60px;
  }

  .product-menu {
    width: 100%;
  }

  .product-menu-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 30px;
    background-color: #fefefe;
  }

  .product-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 311px 311px;
    grid-gap: 33px 32px;
  }

  .cart-product-image {
    width: 100%;
    height: 247px;
    background: #E1E1E1;
    border-radius: 10px;
  }
}

.about-us {
  height: 900px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  background-color: #E1E1E1;
}

.about-us-title {
  width: 152px;
  height: 39px;
  left: 883px;
  top: 2982px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.about-us-text {
  width: 581px;
  height: 108px;
  left: 670px;
  top: 3053px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #404040;
}

.read-more {
  padding: 16px;
  width: 172px;
  border-radius: 10px;
  font: 15px 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #F2F2F2;
  background-color: #333333;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .about-us {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
    background-color: #E1E1E1;
  }

  .about-us-text {
    width: 100%;
  }

  .read-more {
    text-align: center;
  }
}

.footer {
  height: 530px;
  text-align: center;
  /* margin-top: 0px 64px; */
  background-color: #404040;
}

.footer-sign-up {
  height: 126px;
}


.title {
  margin-bottom: 40px;
  font: 16px 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.text {
  height: 48px;
  width: 615px;
  padding-left: 20px;
  left: 652px;
  top: 104px;
  border-radius: 40px;
  background-color: #FFFFFF;
  outline: none #FFFFFF;
  border: solid #FFFFFF;
}

.sign-up {
  width: 100px;
  height: 40px;
  margin-left: -106px;
  border-radius: 24px;
  border: 2px solid #FFFFFF;
  font: 15px 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  background-color: #FFFFFF;
}

hr {
  width: 100%;
  margin-top: 90px;
  height: 1px;
  border-bottom: 1px solid #606060;
}

.footer-gluxury {
  margin-top: 63px;
  margin-bottom: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.footer-gluxury-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.footer-gluxury-middle {
  display: flex;
  flex-direction: row;
  gap: 171px;
}

.middle-list {
  margin-bottom: 29px;
  list-style: none;
  color: #FFFFFF;
}


.middle-list-color {
  padding-bottom: 10px;
  color: #9D9D9D;
}

.footer-gluxury-circle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}

.circle {
  width: 32px;
  height: 32px;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
}

.footer-info {
  padding-top: 20px;
  color: #FFFFFF;
  font: 13px 'Montserrat', sans-serif;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .footer-gluxury {
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
  }
}