@media screen and (max-width: 768px) {
    .toggle {
        display: block;
    }

    .toggle.active.bar:nth-child(2) {
        opacity: 0;
    }

    .toggle.active.bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle.active.bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu-list {
        position: absolute;
        right: 100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 100;
        background-color: #A9A9A9;
    }

    .menu-item {
        margin: 15px 0;
    }

    .menu-list.active {
        left: 0;
    }


    .slide {
        /* margin-top: 300px; */
        height: 340px;
        left: 0px;
        background: #E1E1E1;
    }

    .swiper-wrapper {
        margin: 20px 64px;
        margin-top: 70px;
    }

    h2 {
        font-family: 'Montserrat';
        font-style: normal;

        font-size: 28px;
        line-height: 59px;
        color: #000000;
    }

    p {
        width: 70%;
        height: 70%;
        left: 166px;
        top: 471px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: #404040;
    }

    .swiper-pagination {
        text-align: center;
        top: 270px;
    }


    .feature-products {
        height: 1000px;
        margin-top: 80px;
    }

    .products-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px 200px 200px;
        gap: 32px;
    }

    .product-item:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .product-item:nth-child(2) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .product-item:nth-child(3) {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .product-item:nth-child(4) {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .our-products {
        margin-top: 60px;
    }

    .product-menu {
        width: 100%;
    }

    .product-menu-list {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 30px;
        background-color: #fefefe;
    }

    .product-category {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 311px 311px;
        grid-gap: 33px 32px;
    }

    .cart-product-image {
        width: 100%;
        height: 247px;
        background: #E1E1E1;
        border-radius: 10px;
    }

    .about-us {
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
        margin-top: 57px;
        background-color: #E1E1E1;
    }

    .about-us-text {
        width: 100%;
    }

    .read-more {
        text-align: center;
        margin-top: 20px;
    }

    .text {
        height: 48px;
        width: 350px;
    }

    hr {
        width: 100%;
        margin-top: 50px;
        height: 1px;
        border-bottom: 1px solid #606060;
    }

    .footer-gluxury {
        height: 60px;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
    }

    .footer-gluxury-between .footer-gluxury-circle {
        text-align: center;
    }

    .middle-list{
        margin-top: 17px;
    }


    .footer-gluxury-circle {
        margin-bottom: 110px;
    }

    .footer-info {
        text-align: center;
        margin-top: 10px;
    }

}